<%- include('includes/start.ejs') %>
</head>
<body>
    <h1 class="text-secondary text-center h1">Welcome Admin</h1>
    <div class="container">
        <div class="card-deck">
            <div class="card" >
              <img class="card-img-top" src="/images/bus.jpg" alt="Card image cap" height="200px">
              <div class="card-body mr-auto ml-auto">    
                <a class="btn btn-primary" href="/admin/addbus" role="button">ADD NEW BUS</a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="/images/cab.png" alt="Card image cap" height="200px">
              <div class="card-body mr-auto ml-auto">
                <a class="btn btn-primary" href="/api/booking" role="button">Add NEW CAB</a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="/images/bike.jpg" alt="Card image cap" height="200px">
              <div class="card-body mr-auto ml-auto">
                <a class="btn btn-primary" href="/api/booking" role="button">Add NEW BIKE</a>
                </div>
            </div>
          </div>
</body>
</html>